/* =============================================== */
/* Custom properties */
:root {
    --font-base: 1rem;
    /* --line-height: 1.5; */

    --ff-Roboto: "Roboto", sans-serif;

    --clr-white: 255, 255, 255;
    --clr-grey: 148, 148, 148;
    --clr-blue-800: 36, 39, 66;
    --clr-blue-700: 54, 56, 77;
    --clr-red: 255, 97, 85;

    --txt-clr-slate-900: 19, 48, 65;

    --fs-56: 3.5rem;
    --fs-40: 2.5rem;
    --fs-16: 1rem;
    --fs-12: 0.75rem;
}

/*
@media (width < 36em) {
    :root {}
}

@media (36em <=width <=48em) {
    :root {}
}
    */

/* =============================================== */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: var(--font-base);
    /* line-height: var(--line-height); */
    font-family: var(--ff-Roboto);
    color: rgb(var(--clr-blue-800));
    background-color: rgb(var(--clr-blue-700))
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* =============================================== */
/* Utility classes */

.text-present-1-bold {
    font-size: var(--fs-56);
    font-weight: 700;
    font-style: normal;
    line-height: 1.0;
    letter-spacing: 0px;
}

@media (width < 36em) {
    .text-present-1-bold {
        font-size: var(--fs-40);
    }
}

.text-present-2-regular {
    font-size: var(--fs-16);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0px;
}

.text-present-2-bold {
    font-size: var(--fs-16);
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0px;
}

.text-present-3-bold {
    font-size: var(--fs-12);
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0px;
}

/* =============================================== */
/* Components */
main {
    margin: 219px auto;
    max-width: 904px;
    width: 100%;
    padding: 16px 32px 32px 32px;
    border-radius: 36px;
    background: rgb(var(--clr-white));
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

main>* {
    flex: 1;
}

div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

h1 {
    margin: 71.5px 0 32px;
}

ul {
    margin: 32px 0;
}

ul li {
    display: flex;
}

ul li:not(:last-of-type) {
    margin-bottom: 8px;
}

ul svg {
    margin: auto 0;
    margin-right: 16px;
}

.error {
    display: flex;
    justify-content: space-between;
}

.error span {
    color: red;
}

input {
    color: rgb(var(--clr-blue-800));
    margin: 8px 0 24px;
    display: block;
    padding: 16px 0 16px 24px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(var(--clr-grey));
}

input.invalid {
    border: 1px solid #FF6155;
    background-color: #FFE7E6;
}

input:focus-visible {
    border: none;
    outline: 1px solid rgb(var(--clr-blue-800));
}

button {
    color: rgb(var(--clr-white));
    width: 100%;
    background: rgb(var(--clr-blue-800));
    padding: 16px 0;
    border-radius: 8px;
    cursor: pointer;
}

button:active {
    background: linear-gradient(#FF6A3A, #FF527B);
}

.success-sub {
    margin: 280px auto;
    max-width: 504px;
    padding: 62px;
    border-radius: 36px;
    background: rgb(var(--clr-white));
}

h2 {
    margin: 32px 0;
}

.success-sub button {
    margin-top: 32px;
}

.success-sub button:active {
    box-shadow: 0 16px 32px rgba(255, 97, 85, 0.5);
}

@media (36em <=width <=48em) {
    main {
        margin: 73px auto;
        max-width: 608px;
        width: 100%;
        padding: 42.86px 40px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    main>* {
        flex: auto;
    }

    h1 {
        margin: 40px 0 24px;
    }

    ul {
        margin: 24px 0;
    }

    input {
        margin: 8px 0 16px;
    }
}

@media (width < 36em) {
    main {
        margin: 0 auto;
        max-width: none;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
        border-radius: 0;
    }

    main div:last-child {
        padding: 0 24px 45.46px;
    }

    div img {
        max-height: 300px;
        margin-top: -16px;
    }

    main>* {
        flex: auto;
    }

    h1 {
        margin: 40px 0 24px;
    }

    ul {
        margin: 24px 0 40px;
    }

    input {
        margin: 8px 0 24px;
    }

    .success-sub {
        margin: 0 auto;
        max-width: 100%;
        height: 100vh;
        padding: 149px 24px 70px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .success-sub button {
        margin-top: 0;
    }
}