/* =============================================== */
/* Custom properties */

:root {
    --font-base: 1rem;

    --ff-karla: 'Karla', sans-serif;

    --fs-32: 2rem;
    --lh-100: 2rem;
    --ls--1: -1px;

    --fs-18: 1.125rem;
    --lh-150-18: 1.6875rem;
    --ls-0: 0px;

    --fs-16: 1rem;
    --lh-150-16: 1.5rem;

    --clr-white: 255, 255, 255;
    --clr-grey-900: 42, 65, 68;
    --clr-grey-500: 134, 162, 165;
    --clr-green-600: 12, 125, 105;
    --clr-green-200: 224, 241, 232;
    --clr-error: 215, 60, 60;

}

/* @media (min-width: 36em) {
    :root {
        --fs-48: 48px;
        --lh-71: 71px;

    }
} */

/* @media (min-width: 48em) {
    :root {
        --fs-48: 48px;
    }
} */

/* =============================================== */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: var(--font-base);
    font-family: var(--ff-karla);
    background-color: rgb(var(--clr-green-200));
    display: flex;
    height: 100vh;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
button {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    border: none;
}

button {
    border: none;
    background: inherit;
    cursor: pointer;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* =============================================== */
/* Utility classes */

.heading {
    font-size: var(--fs-32);
    line-height: var(--lh-100);
    letter-spacing: var(--ls--1);
    font-weight: 700;
}

.body-md-bold {
    font-size: var(--fs-18);
    line-height: var(--lh-150-18);
    font-weight: 700;
}

.body-md-regular {
    font-size: var(--fs-18);
    line-height: var(--lh-150-18);
    font-weight: 400;
}

.body-sm {
    font-size: var(--fs-16);
    line-height: var(--lh-150-16);
    font-weight: 400;
}

.container {
    margin: auto;
    padding-inline: 16px;
}

@media (min-width: 36em) {

    .container {}
}

/* =============================================== */
/* Components */

/* Submit button */

.submit-btn {
    background-color: rgb(var(--clr-green-600));
    color: rgb(var(--clr-white));
    padding-block: 16px;
    border-radius: 8px;
    font-size: var(--fs-18);
    line-height: var(--lh-150-18);
    font-weight: 700;
}

.submit-btn:hover {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), rgb(var(--clr-green-600));
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.sr-only {
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.form-text-group label {
    display: flex;
    gap: 8px;
}
.form-text-group input {
    border: 1px solid rgb(var(--clr-grey-500));
    border-radius: 8px;
    height: 27px;
}

.form-text-group input:hover {
    border: 1px solid rgb(var(--clr-green-600));
}

.form-text-group input:focus {
    border: none;
    outline: 1px solid rgb(var(--clr-green-600));
}

.form-text-group input.error {
    border: 1px solid rgb(var(--clr-error));
    outline: none;
}

.required {
    color: rgb(var(--clr-green-600));
}

.error-message {
    display: none;
}

