/* =============================================== */
/* Custom properties */

:root {
    --ff-overpass: "Overpass", sans-serif;

    --fs-28: 1.75rem;
    --fs-24: 1.5rem;
    --fs-16: 1rem;
    --fs-15: 0.9375rem;
    --fs-14: 0.875rem;

    --lh-35: 2.1875rem;
    --lh-30: 1.875rem;
    --lh-24: 1.5rem;
    --lh-22: 1.375rem;
    --lh-19: 1.1875rem;
    --lh-18: 1.125rem;

    --ls-0: 0px;
    --ls-02: 0.2px;
    --ls-017: 0.17px;
    --ls-187: 1.87px;
    --ls-2: 2px;

    --clr-white: 255, 255, 255;
    --clr-black: 0, 0, 0;

    --clr-grey-950: 19, 21, 24;
    --clr-grey-900: 38, 46, 56;
    --clr-grey-500: 150, 159, 173;

    --clr-orange-500: 252, 118, 20;
}

/* @media (min-width: 36em) {
    :root {
        --fs-48: 48px;
        --lh-71: 71px;

    }
} */

/* @media (min-width: 48em) {
    :root {
        --fs-48: 48px;
    }
} */

/* =============================================== */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: var(--font-base);
    font-family: var(--ff-space-mono);
    background-color: rgb(var(--clr-grey-200))
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    border: none;
}

button {
    border: none;
    background: inherit;
    cursor: pointer;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* =============================================== */
/* Utility classes */

.container {
    margin: 0 auto;
    max-width: 351px;
}

.text-white {
    color: rgb(var(--clr-white));
}

.text-black {
    color: rgb(var(--clr-black));
}

.text-grey-950 {
    color: rgb(var(--clr-grey-950));
}

.text-grey-900 {
    color: rgb(var(--clr-grey-900));
}

.text-grey-500 {
    color: rgb(var(--clr-grey-500));
}

.text-orange-500 {
    color: rgb(var(--clr-orange-500));
}

.text-preset-1 {
    font-family: var(--ff-overpass);
    font-size: var(--fs-28);
    line-height: var(--lh-35);
    letter-spacing: var(--ls-0);
    font-weight: 700;
}

.text-preset-2 {
    font-family: var(--ff-overpass);
    font-size: var(--fs-24);
    line-height: var(--lh-30);
    letter-spacing: var(--ls-0);
    font-weight: 700;
}

.text-preset-3 {
    font-family: var(--ff-overpass);
    font-size: var(--fs-16);
    line-height: var(--lh-24);
    letter-spacing: var(--ls-02);
    font-weight: 700;
}

.text-preset-4-bold {
    font-family: var(--ff-overpass);
    font-size: var(--fs-15);
    line-height: var(--lh-19);
    letter-spacing: var(--ls-2);
    font-weight: 700;
}

.text-preset-4-regular {
    font-family: var(--ff-overpass);
    font-size: var(--fs-15);
    line-height: var(--lh-24);
    letter-spacing: var(--ls-0);
    font-weight: 400;
}

.text-preset-5-bold {
    font-family: var(--ff-overpass);
    font-size: var(--fs-14);
    line-height: var(--lh-18);
    letter-spacing: var(--ls-187);
    font-weight: 700;
}

.text-preset-5-semibold {
    font-family: var(--ff-overpass);
    font-size: var(--fs-14);
    line-height: var(--lh-24);
    letter-spacing: var(--ls-017);
    font-weight: 600;
}

.text-preset-5-regular {
    font-family: var(--ff-overpass);
    font-size: var(--fs-14);
    line-height: var(--lh-22);
    letter-spacing: var(--ls-0);
    font-weight: 400;
}

/* =============================================== */
/* Components */

.submit-btn {
    background-color: rgb(var(--clr-orange-500));
    border-radius: 22.5px;
    font-family: var(--ff-overpass);
    font-size: var(--fs-14);
    line-height: var(--lh-18);
    letter-spacing: var(--ls-187);
    font-weight: 700;
    width: 100%;
    padding: 0.781em 0;
}

@media (min-width: 36em) {
    .submit-btn {
        line-height: var(--lh-24);
        letter-spacing: var(--ls-017);
        font-weight: 600;
    }
}

.label-radio {
    position: relative;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.option-btn {
    font-family: var(--ff-overpass);
    font-size: var(--fs-14);
    line-height: var(--lh-24);
    letter-spacing: var(--ls-017);
    font-weight: 600;
    aspect-ratio: 1/1;
    height: 2.625em;
    background-color: rgb(var(--clr-grey-900));
    color: rgb(var(--clr-grey-500));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.label-radio input:checked+.option-btn {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

/* =============================================== */
/* Form */

.rating-options {
    display: flex;
    gap: 16px;
    justify-content: center;
}