/* =============================================== */
/* Custom properties */
:root {
    --font-base: 1rem;

    --ff-Rubik: "Rubik", sans-serif;

    --clr-white: 255, 255, 255;
    --clr-black: 0, 0, 0;
    --clr-navy-950: 14, 19, 35;
    --clr-navy-900: 28, 32, 75;
    --clr-navy-800: 51, 57, 122;
    --clr-navy-200: 187, 192, 255;
    --clr-orange: 255, 139, 100;
    --clr-purple-700: 115, 53, 210;
    --clr-purple-600: 81, 71, 234;
    --clr-purple-500: 112, 120, 201;
    --clr-blue: 85, 194, 230;
    --clr-pink: 255, 94, 125;
    --clr-green: 75, 207, 130;
    --clr-yellow: 241, 199, 91;
    --clr-grey: 216, 216, 216;


    --fs-56: 3.5rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;
    --fs-15: 0.9375rem;
}


@media (40.75em <=width <=57em) {
    :root {
        --fs-40: 1.5rem;
    }
}

@media (width < 40.75em) {
    :root {
        --fs-56: 2rem;
        --fs-40: 1.5rem;
    }
}

/* =============================================== */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: var(--font-base);
    /* line-height: var(--line-height); */
    font-family: var(--ff-Rubik);
    color: rgb(var(--clr-white));
    background-color: rgb(var(--clr-navy-950))
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    background: inherit;
    cursor: pointer;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* =============================================== */
/* Utility classes */

main {
    margin: 252px auto;
    max-width: 1164px;
    width: fit-content;
}

@media (40.775em <=width <=57em) {
    main {
        max-width: 660px;
        margin: 173px auto;
    }
}

@media (width < 40.75em) {
    main {
        max-width: 100%;
        margin: 81px auto;
        padding: 0 24px;
    }
}

.text-present-1 {
    font-size: var(--fs-56);
    font-weight: 300;
    font-style: normal;
    line-height: 66px;
    letter-spacing: 0px;
}

.text-present-2 {
    font-size: var(--fs-40);
    font-weight: 300;
    font-style: normal;
    line-height: 47px;
    letter-spacing: 0px;
}

.text-present-3 {
    font-size: var(--fs-32);
    font-weight: 300;
    font-style: normal;
    line-height: 38px;
    letter-spacing: 0px;
}

.text-present-4 {
    font-size: var(--fs-24);
    font-weight: 300;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0px;
}

.text-present-5-medium {
    font-size: var(--fs-18);
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0px;
}

.text-present-5-regular {
    font-size: var(--fs-18);
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0px;
}

.text-present-6 {
    font-size: var(--fs-15);
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0px;
}

.text-clr-navy-200 {
    color: rgb(var(--clr-navy-200));
}

.text-clr-purple-500 {
    color: rgb(var(--clr-purple-500));
}

/* =============================================== */
/* Components */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    place-content: center;
}

.card:nth-child(1) {
    grid-row: 1 / span 2;
    background: rgb(var(--clr-navy-900));
    border-radius: 15px;
}

@media (40.75em <=width <=57em) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .card:nth-child(1) {
        max-width: none;
        grid-column: 1 / span 3;
    }

    h1 {
        line-height: 28px;
    }
}

@media (width < 40.75em) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .card:nth-child(1) {
        max-width: none;
        width: 100%;
    }

    h1 {
        line-height: 28px;
    }
}

.profile-header {
    background: rgb(var(--clr-purple-600));
    border-radius: 15px;
    padding: 32px 32px 92px;
}

.profile-img {
    width: 78px;
    border: 3px solid rgb(var(--clr-white));
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(var(--clr-black), 0.25);
    margin-bottom: 40px;
}

.card:nth-child(1) ul {
    background: rgb(var(--clr-navy-900));
    padding: 32px;
    border-radius: 0 0 15px 15px;
}

.card:nth-child(1) ul li:nth-child(2) {
    margin: 21px 0;
}

@media (40.75em <=width <=57em) {
    .profile-header {
        display: flex;
        gap: 24px;
        padding: 34px;
    }

    .profile-img {
        width: 64px;
        margin-bottom: 0;
    }

    .card:nth-child(1) ul {
        padding: 24px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .card:nth-child(1) ul li:nth-child(2) {
        margin: 0;
    }
}

@media (width < 40.75em) {
    .profile-header {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding: 32px;
    }

    .profile-img {
        width: 64px;
        margin-bottom: 0;
    }

    .card:nth-child(1) ul {
        padding: 24px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .card:nth-child(1) ul li:nth-child(2) {
        margin: 0;
    }

    .hours-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.card:not(:first-child)>div {
    padding: 32px;
    background: rgb(var(--clr-navy-900));
    margin-top: 45px;
    border-radius: 15px;
    cursor: pointer;
}

.card.active-card:not(:first-child)>div {
    background: rgb(var(--clr-navy-800));
}

.card.active-card:not(:first-child)>div {
    background: rgb(var(--clr-navy-800));
}

.active-button {
    color: rgb(var(--clr-white));
}

button:hover,
button:focus-visible {
    color: rgb(var(--clr-white));
}

.header {
    display: flex;
    justify-content: space-between;
}

button svg {
    display: block
}

.card .current {
    padding: 24px 0 8px;
}

@media (40.75em <=width <=57em) {
    .card .current {
        padding: 16px 0 8px;
    }

    .card:not(:first-child)>div {
        margin-top: 33px;
    }
}

@media (width < 40.75em) {
    .card .current {
        padding: 0
    }

    .card:not(:first-child)>div {
        margin-top: 38px;
    }
}

.card:not(:first-child) {
    background-repeat: no-repeat;
    background-position: top -11px right 17px;
    border-radius: 15px;
    margin-bottom: 3px;
}

.card:nth-child(2) {
    background-color: rgb(var(--clr-orange));
    background-image: url('./images/icon-work.svg');
}



.card:nth-child(3) {
    background-color: rgb(var(--clr-blue));
    background-image: url('./images/icon-play.svg');
}

.card:nth-child(4) {
    background-color: rgb(var(--clr-pink));
    background-image: url('./images/icon-study.svg');
}

.card:nth-child(5) {
    background-color: rgb(var(--clr-green));
    background-image: url('./images/icon-exercise.svg');
}

.card:nth-child(6) {
    background-color: rgb(var(--clr-purple-700));
    background-image: url('./images/icon-social.svg');
}

.card:nth-child(7) {
    background-color: rgb(var(--clr-yellow));
    background-image: url('./images/icon-self-care.svg');

}